
    {% extends "base.html" %}
    {% block start %}
    <!-- Landing Page Content -->
     <div class="landingPage">
        <div class="landingInformation">
            <div class="headingText">
                Password Saver | Encrypted | Secured.
            </div>
            <div class="descriptionText">
                Save Username & Password. Encrypted By Many Security Layers. Login and Access from any where. 
            </div>

            <!-- Detail view -->
             <div class="knowMore">
                <a href="">Know More!</a>
             </div>
        </div>
     </div>

     {% endblock %}
    