    {% extends 'base.html'%}
    {% block start %}
    <div id="copySuccess" class="copySuccess">
        Copy Successful
     </div>
    <!-- Password Manager -->
    {% if request.user.is_authenticated %}
     <div class="addPassowrd">
        <form method="post" action="">
            <label for="">For</label>
            {% csrf_token %}
            <input name="name" type="text" placeholder="eg.Facebook">

            <label for="">Username / Id</label>
            <input name="username" type="text" placeholder="eg.986710****">

            <label for="">Password</label>
            <input name="password" type="text" placeholder="eg. Password123@">
            <div style="text-align:center;color:white;" class="error">
                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
            </div>
            <div class="newSubmit">
                <button>Add New</button>
            </div>
        </form>

        <!-- Existing Username And Password -->
         {%for x in userpassword%}
      <div class="existingBox">
        <div class="title">{{x.name}}</div>
        <div class="username">
            <div class="usernameN">{{x.username}}</div>
            <i class="fa-regular fa-copy userBtn"></i>
        </div>
        <div class="password">
            <div class="passwordN">{{x.password}}</div>
            <i class="fa-regular fa-copy passBtn"></i>
        </div>
        <div class="remove">
            <a href="delete/{{x.id}}">Remove</a>
        </div>
      </div>
      {% endfor %}
     </div>
     

     
     <script>
        // Coping Username Password
        let username = document.querySelectorAll(".usernameN")
        let password = document.querySelectorAll(".passwordN")

        let usernameBtn = document.querySelectorAll(".username")
        let passwordBtn = document.querySelectorAll(".password")
        console.log(username[0].innerHTML)
        for(let j = 0; j<usernameBtn.length;j++){
            usernameBtn[j].addEventListener('click',()=>{
                console.log(j)
                navigator.clipboard.writeText(username[j-1].innerHTML);
                Copy()
            })
        }

        for(let i = 0; i<passwordBtn.length;i++){
            passwordBtn[i].addEventListener('click',()=>{
                console.log(i)
                navigator.clipboard.writeText(password[i].innerHTML);
                Copy()
            })
        }


        let copyAlert = document.getElementById('copySuccess')
        copyAlert.style.display= "none"
        function Copy(){
            copyAlert.style.display ="flex"
            setInterval(hide, 1000);

            function hide(){
                copyAlert.style.display ="none"
            }
        }
     </script>
     {% else %}
     <!-- Landing Page Content -->
      <style>
        /* Landing Page */
.landingPage{
    background-color: white;
    height: 100vh;
    width: 100%;
    background-image: url(pass.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.landingInformation{
    height: 100px;
    width: 96%;
    margin: 0 auto;
}
.headingText{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #f95230;
}
.descriptionText{
    color: #f95230;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
.knowMore{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.knowMore a{
    text-decoration: none;
    color: #f95230;
    background-color: black;
    font-size: 20px;
    display: flex;
    width: 300px;
    height: 50px;
    border: 4px solid black;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.knowMore a:hover{
    background-color: transparent;
}


      </style>
     <div class="landingPage">
        <div class="landingInformation">
            <div class="headingText">
                Login And Start Using
            </div>
            <div class="descriptionText">
                Save Username & Password. Encrypted By Many Security Layers. Login and Access from any where. 
            </div>

            <!-- Detail view -->
             <div class="knowMore">
                <a href="{% url 'loginPage' %}">Login Now</a>
             </div>
        </div>
     </div>
        <script>
            let copyAlert = document.getElementById('copySuccess')
            copyAlert.style.display= "none"
        </script>
     {% endif %}
     {% endblock %}
     
