

/* Password manager */
/* New Id */
.addPassowrd{
    margin-top: 70px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    min-height: 100vh;
}
.addPassowrd form{
    width: 18%;
    background-color: #f95230;
    border-radius: 5px;
    padding: 1%;
    margin: 10px 2.5%;
    height: 250px;

}
.addPassowrd form .addPasswordTitle{
    margin: 5px 0px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.addPassowrd label{
    color: white;
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 5px;
}
.addPassowrd form input{
    width: 96%;
    margin: 2px auto;
    padding: 2px;
    height:20px;
    font-size: 18px;
    background-color: aliceblue;
    border: 3px solid transparent;
}
.addPassowrd form input:focus{
    outline: none;
    border-bottom: 3px solid #000000;
}

.addPassowrd form .newSubmit{
    display: flex;
    justify-content: center;
    margin-top: 10px ;
}
.newSubmit button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 35px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #000000;
    color: white;
    font-size: 18px;
    border: 4px solid #000000;
    transition: 0.03s;
    padding: 5px;
}
.newSubmit button:hover{
    background-color: transparent;
}



/* Existing User Password */
.existingBox{
    background-color: #f95230;
    width: 18%;
    padding: 1%;
    height: 200px;
    border-radius: 3px;
    margin: 10px 2.5%;
}
.existingBox  .title{
    color: white;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.existingBox .username,.password{
    display: flex;
    background-color:whitesmoke;
    margin: 10px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
}
.username .usernameN, .password .passwordN{
    width: 80%;
    display: flex;
    align-items: center;
}
.username i,.password i{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.remove{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.remove a{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #44f114bd;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 2px solid #44f114bd;
    transition: 0.1s;
}
.remove a:hover{
    background-color: transparent;
}




/* Copy Successfully */
.copySuccess{
    width: 30%;
    height: 30px;
    background-color: white;
    color: red;
    position: fixed;
    top: 60px;
    margin: 0px 35%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}




/* Responsive for Screen Less than 1024px */
@media only screen and (max-width:1024px){
    

    /* Add new Field */
    .addPassowrd form{
        width: 23%;
        background-color: #f95230;
        border-radius: 5px;
        padding: 1%;
        margin: 10px 4.15%;
    }

    /* Existing Username Password */
    .existingBox{
        background-color: #f95230;
        width: 23%;
        padding: 1%;
        height: 200px;
        border-radius: 3px;
        margin: 10px 4.15%;
    }
}



/* Responsive for Screen Less than 768px */
@media only screen and (max-width:768px){
    

     /* Add new Field */
     .addPassowrd form{
        width: 44%;
        background-color: #f95230;
        border-radius: 5px;
        padding: 1%;
        margin: 10px 2%;
    }

    /* Existing Username Password */
    .existingBox{
        background-color: #f95230;
        width: 44%;
        padding: 1%;
        height: 200px;
        border-radius: 3px;
        margin: 10px 2%;
    }

}


/* Responsive for Screen Less than 500px */
@media only screen and (max-width:500px){
    /* Add new Field */
    .addPassowrd form{
        width: 95%;
        background-color: #f95230;
        border-radius: 5px;
        padding: 1%;
        margin: 10px 2%;
    }

    /* Existing Username Password */
    .existingBox{
        background-color: #f95230;
        width: 95%;
        padding: 1%;
        height: 200px;
        border-radius: 3px;
        margin: 10px 2%;
    }
}